@mixin box-shadow {
    box-shadow: 7px 10px 18px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 10px 18px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 18px -7px rgba(0,0,0,0.75);
  }
  
  @mixin d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin hover {
    scale: 1.1;
    cursor: pointer;
  }