body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #101D42 !important;

  
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #89D2DC;
    margin-bottom: 2vw;
    color: #0D1317;
    border-radius: 25px;
}
  
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

#secao-add {
    display: flex;
    margin-bottom: 2vw;
}
  
#secao-add button{
    border: none;
    color: #0D1317;
    background-color: #6564DB;
    border-radius: 0px 5px 5px 0px;
    margin: 2vw 2vw 2vw 0vw;
    font-size: medium;
}
  
#secao-add input{
    border: none;
    background-color: #89D2DC;
    color: #0D1317;
    border-radius: 5px 0px 0px 5px;
    margin: 2vw 0vw 2vw 2vw;
    font-size: medium;

}

#todo-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 40vw;
    background-color: #6564DB;
    border-radius: 10px;

}

#todo-list div{
    display: flex;
    justify-content: space-between;
    background-color: #101D42;
    margin: 1vw;
    color:#89D2DC;
    border-radius: 5px;
    font-size: medium;

}

#todo-list input{
    margin: 1.5vw;
}


#todo-list button{
    border: none;
    background-color: #101D42;
    color: #89D2DC;
    border-radius: 5px;
}




