body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#secao-add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#secao-add label{
  padding-bottom: 1vw;
}

#secao-add button{
  margin-top: 0%;
  padding-top: 0%;
  width: 30vw ;
  height: 4vw;
  border: none;
  color: white;
  text-align: center;
  background-color: #04AA6D;

}

#secao-add input{
  width: 30vw;
  padding-bottom: 1vw;
}


ul {
    list-style: none;
    padding: 0;
  }

#todo-list {
  margin-top: 5vw;
}

#todo-list button{
  border: none;
  color: red;
  background-color: rgb(255, 255, 255);
}

#todo-list input{
  margin-right: 1vw;
}

li {
  margin: 2vw;
}
