body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
}

#secao-add {
  display: flex;
  align-items: stretch;
}


#secao-add button{
  border: none;
  color: white;
  text-align: center;
  background-color: #04AA6D;
}

#secao-add input{
  padding: .5vw;
  border: none;
  background-color: #04aa6d8c;
  color: white;
}


ul {
    list-style: none;
    padding: 0;
  }

#todo-list {
  margin: 3vw;
}

#todo-list button{
  border: none;
  color: red;
  background-color: rgb(255, 255, 255);
}

#todo-list input{
  margin-right: 1vw;
}

li {
  margin: 2vw;
}
