body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2, 3, 71);
    
}
form {
    display: flex;
    flex-direction: column;

}
h1 {
    color: rgb(100, 133, 145);
}
form label {
    color: rgb(100, 133, 145);
}